<% include partials/header.ejs %>
<div class="container-full">

<h1 class="text-center vlbc-colour-orange">VLBC</h1>

    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4 ">
            <div class="account-wall vlbc-background-colour-orange">
                <h1 class="text-center login-title vlbc-colour-blue">Sign in</h1>
                <form class="form-signin" action="/login" method="POST">
                    <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
                    <br/>
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                    <br/>
                    <button class="btn btn-lg btn-block vlbc-colour-orange vlbc-background-colour-blue" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
<% include partials/footer.ejs %>